@charset "UTF-8";

li.heart-check {
	background: url(../img/heart-check.png) no-repeat left top;
	height: 35px;
	padding-left: 47px;
	font-size: 18px;
	font-family: 'Sumana', serif;
	margin-top: 27px;
	margin-left: -25px;
}
li.nested {
	list-style-type: disc;
	font-size: medium;
	font-family: 'Sumana', serif;
	margin-left: 40px;
}
#important {
	font-family: 'Sumana', serif;
	font-style: italic;
	color: #F60C10;
	text-align: left;
}
p.bottom {
	text-align: left;
	color: #D3303B;
	font-style: italic;
	margin-top: 20px;
	padding-right: 16px;
}
#top-text {
	font-size: 1em;
	font-family: 'Sumana', serif;
	color: #A33142;
	width: 50%;
	text-align: left;
	float: left;
	margin-top: 42px;
	margin-left: 16px;
}
#logo-wrapper {
	width: 30%;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
	margin-left: 126px;
}
p.contact {
	font-size: 25px;
	text-align: left;
	font-style: italic;
}
#auntie-center-text {
	width: 50%;
	float: right;
	margin-top: -224px;
	color: #9F423E;
	font-family: 'Sumana', serif;
	text-align: center;
}
.title-box {
	width: 31.333%;
	font-family: 'Sumana', serif;
	font-size: 30px;
	float: left;
	margin-right: 20px;
}
#tbox {
	width: 100%;
	text-align: center;
	color: #FFFAF5;
	height: 100px;
	background-image: -webkit-linear-gradient(270deg,rgba(194,105,100,1.00) 14.51%,rgba(194,105,100,0.65) 51.29%,rgba(194,105,100,1.00) 87.05%);
	background-image: -moz-linear-gradient(270deg,rgba(194,105,100,1.00) 14.51%,rgba(194,105,100,0.65) 51.29%,rgba(194,105,100,1.00) 87.05%);
	background-image: -o-linear-gradient(270deg,rgba(194,105,100,1.00) 14.51%,rgba(194,105,100,0.65) 51.29%,rgba(194,105,100,1.00) 87.05%);
	background-image: linear-gradient(180deg,rgba(194,105,100,1.00) 14.51%,rgba(194,105,100,0.65) 51.29%,rgba(194,105,100,1.00) 87.05%);
	border-radius: 25px;
	padding-top: 25px;
	float: left;
	margin-top: 0px;
}
#tbox2 {
	width: 100%;
	text-align: center;
	color: #FFFAF5;
	height: 100px;
	background-image: -webkit-linear-gradient(270deg,rgba(159,66,62,1.00) 14.51%,rgba(159,66,62,0.71) 51.29%,rgba(159,66,62,1.00) 87.05%);
	background-image: -moz-linear-gradient(270deg,rgba(159,66,62,1.00) 14.51%,rgba(159,66,62,0.71) 51.29%,rgba(159,66,62,1.00) 87.05%);
	background-image: -o-linear-gradient(270deg,rgba(159,66,62,1.00) 14.51%,rgba(159,66,62,0.71) 51.29%,rgba(159,66,62,1.00) 87.05%);
	background-image: linear-gradient(180deg,rgba(159,66,62,1.00) 14.51%,rgba(159,66,62,0.71) 51.29%,rgba(159,66,62,1.00) 87.05%);
	border-radius: 25px;
	padding-top: 25px;
	float: left;
	margin-top: 0px;
}
#tbox3 {
	width: 100%;
	text-align: center;
	color: #FFFAF5;
	height: 100px;
	background-image: -webkit-linear-gradient(270deg,rgba(103,26,29,1.00) 14.51%,rgba(103,26,29,0.73) 51.29%,rgba(103,26,29,1.00) 87.05%);
	background-image: -moz-linear-gradient(270deg,rgba(103,26,29,1.00) 14.51%,rgba(103,26,29,0.73) 51.29%,rgba(103,26,29,1.00) 87.05%);
	background-image: -o-linear-gradient(270deg,rgba(103,26,29,1.00) 14.51%,rgba(103,26,29,0.73) 51.29%,rgba(103,26,29,1.00) 87.05%);
	background-image: linear-gradient(180deg,rgba(103,26,29,1.00) 14.51%,rgba(103,26,29,0.73) 51.29%,rgba(103,26,29,1.00) 87.05%);
	border-radius: 25px;
	padding-top: 25px;
	float: left;
	margin-top: 0px;
}
#box-text {
	margin-top: 110px;
	border: thin solid #CB7E7A;
	border-radius: 25px;
	height: 854px;
}
#welcome-auntie {
	display: none;
	color: #9F423E;
	font-family: 'Sumana', serif;
	font-style: italic;
	font-size: 50px;
	width: 100%;
	text-align: left;
	margin-left: 0px;
	margin-top: 79px;
}
#Ace-auntie {
	display: none;
	color: #CB7E7A;
	font-family: 'Sumana', serif;
	font-size: 55px;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}
// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
#auntie-center-text {
	width: 100%;
	float: right;
	margin-top: 0px;
	color: #9F423E;
	font-family: 'Sumana', serif;
	text-align: center;
}
.title-box {
}
#top-text {
	font-size: 0.75em;
	font-family: 'Sumana', serif;
	color: #A33142;
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 40px;
}
#logo-wrapper {
	width: 50%;
	margin-top: 110px;
	margin-bottom: 15px;
	float: none;
	margin-left: 125px;
	clear: none;
}
#welcome-auntie {
	display: none;
	color: #9F423E;
	font-family: 'Sumana', serif;
	font-style: italic;
	font-size: 30px;
	width: 100%;
	text-align: left;
	margin-left: 0px;
	margin-top: 79px;
}
#Ace-auntie {
	display: none;
	color: #CB7E7A;
	font-family: 'Sumana', serif;
	font-size: 35px;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#auntie-center-text {
	width: 50%;
	float: right;
	margin-top: -125px;
	color: #9F423E;
	font-family: 'Sumana', serif;
	text-align: center;
}
.title-box {
}
#top-text {
	font-size: 1em;
	font-family: 'Sumana', serif;
	color: #A33142;
	width: 100%;
	text-align: center;
}
#logo-wrapper {
	width: 50%;
	margin-bottom: 15px;
	margin-left: 200px;
}
#welcome-auntie {
	display: none;
	color: #9F423E;
	font-family: 'Sumana', serif;
	font-style: italic;
	font-size: 40px;
	width: 100%;
	text-align: left;
	margin-left: 0px;
	margin-top: 79px;
}
#Ace-auntie {
	display: none;
	color: #CB7E7A;
	font-family: 'Sumana', serif;
	font-size: 45px;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
