@charset "UTF-8";
#welcome {
	display: none;
	color: #9F423E;
	font-family: 'Sumana', serif;
	font-style: italic;
	font-size: 50px;
	width: 100%;
	text-align: center;
	margin-left: 0px;
	}
#Ace {
	display: none;
	color: #CB7E7A;
	font-family: 'Sumana', serif;
	font-size: 50px;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}
  .medium-8 {
	width: 66.66667%;
	float: left;
}
  .medium-4 {
	/* [disabled]width: 33.33333%; */
	float: left;
	text-align: left;
	color: #FFFBF6;
	background-color: #CB7E7A;
	border-radius: 20px;
	-webkit-box-shadow: -20px -10px #671A1D;
	box-shadow: -20px -10px #671A1D;
	padding-left: 14px;
}
p {
	text-align: left;
}
#footer {
	margin-top: 200px;
	}
// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
  .medium-8 {
	width: 66.66667%;
	float: left;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .medium-8 {
	width: 48.667%;
	float: left;
}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
