@charset "UTF-8";

body {
	background-image: -webkit-linear-gradient(270deg,rgba(255,250,245,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,250,245,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,250,245,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,250,245,1.00) 0%,rgba(255,255,255,1.00) 100%);
	}
#logo {
	width: 30%;
	float: left;
	margin-top: 20px;
	margin-bottom: 15px;
}
#top-text {
	float: right;
	font-size: 1em;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: rgba(163,49,66,1.00);
	font-weight: bold;
	margin-top: 20px;
}

	
// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
#top-text {
	font-size: 0.75em;
	clear: left;
	float: left;
	margin-top: -5px;
	margin-bottom: 5px;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#top-text {
	font-size: 1em;
		}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
